[Unit]
Description=Wlnfancurve service
ConditionFileNotEmpty=/etc/wlnfancurve.conf
After=graphical.target
Requires=graphical.target

[Service]
ExecStart=/home/sergej/GitHub/wlnfancurve/nvml/bin/python -u /home/sergej/GitHub/wlnfancurve/wlnfancurve.py -c /etc/wlnfancurve.conf

[Install]
WantedBy=graphical.target
